Hi {{ username }}!

<h3>Please confirm your email address</h3>

<p>Activate your account by clicking the below link:<p>

<a href="{{ url('activation', {'username': username}) }}">ACTIVATE ACCOUNT</a><br><br>

Thanks!

