{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<div class="jumbotron">
		<h1>Welcome !</h1>
		<p>An Email has been send to your email <strong>{{ email }}</strong>.It contains an activation Link.You must click to activate your account</p>
	</div>
</div>
{% endblock %}
