{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<div class="jumbotron">
		<h2>Thanks for Confirmation.<h2>
		<h3> Your account is Successfully Created.
    	Let’s get started! <a href="{{ url('login_register') }}">Login Now</a></h3>
	</div>
</div>
{% endblock %}
