.form-style {
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    font-size: 15px;
    /* line-height: 0; */
}
.list-style {
    padding: 0px;
}
.list-style  li {
    padding: 6px 6px;
}
.margin-top20{
	margin-top:20px;
}
.colorpicker.dropdown-menu.colorpicker-with-alpha.colorpicker-right.colorpicker-visible {
  z-index: 999999;
  left:653px;
}